---
title: Geek-o-meter
ng_app: geekOmeter
---

.app{'ng-controller' => 'MainCtrl'}
  .header
    .container
      .status{'ng-show' => 'state == "playing"'} {{status}}
      %h1 Geek-o-meter

  .contents
    .container
      .frontpage{'ng-show' => 'state == "frontpage"'}
        %h1 Welcome to Geek-o-meter
        %h2 This game will show you how geeky you are
        %a.btn.btn-success{href: '', 'ng-click' => 'start()'} Click here to start

      .questions{'ng-show' => 'state == "playing"'}
        .question
          %h3 Match:
          %h2.text {{question.text}}

          .options-container{'ng-show' => '!errorVisible'}
            %h3 To a franchise:
            %ul.options
              %li{'ng-repeat' => 'option in question.options'}
                %a.btn.btn-primary{href: '', 'ng-click' => 'answer(option)'} {{option}}

          %h2.alert.alert-danger{'ng-show' => 'errorVisible'}
            {{errorMessage}},
            %a{href: '', 'ng-click' => 'next()'} Next

      .result{'ng-show' => 'state == "done"'} 
        %h1
          Your score is {{score}}
          %small (out of a 100)

  .footer
    .container
      Created by
      %a{href: 'http://www.elentok.com'} David Elentok.
