---
title: Geek-o-meter
ng_app: geekOmeter
---

.container{'ng-controller' => 'MainCtrl'}
  .header
    %h1 Geek-o-meter

  .questions{'ng-show' => '!isDone'}
    .status
      Question {{questionIndex+1}} of {{questions.length}}

    .question
      %h3 Match the term:
      %h2.text {{question.text}}

      .options-container{'ng-show' => '!errorVisible'}
        %h3 To a franchise:
        %ul.options
          %li{'ng-repeat' => 'option in question.options'}
            %button.btn.btn-primary{'ng-click' => 'answer(option)'} {{option}}

      %h2.alert.alert-danger{'ng-show' => 'errorVisible'}
        {{errorMessage}},
        %a{href: '', 'ng-click' => 'next()'} Next

  .result{'ng-show' => 'isDone'} 
    %h1.alert.alert-success
      Your score is {{score}}
      %small (out of a 100)
